<div id="<%= dom_id boleta_mes %>">
  <p>
    <strong>Boleta:</strong>
    <%= boleta_mes.boleta_id %>
  </p>

  <p>
    <strong>Mes:</strong>
    <%= boleta_mes.mes_id %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= boleta_mes.year_id %>
  </p>

</div>
