<h1>Editing boleta mes</h1>

<%= render "form", boleta_mes: @boleta_mes %>

<br>

<div>
  <%= link_to "Show this boleta mes", @boleta_mes %> |
  <%= link_to "Back to boleta meses", boletas_meses_path %>
</div>
