<div id="<%= dom_id precio %>">
  <p>
    <strong>Nombre:</strong>
    <%= precio.nombre %>
  </p>

  <p>
    <strong>Precio pesos:</strong>
    <%= precio.precio_pesos %>
  </p>

  <p>
    <strong>Precio uf:</strong>
    <%= precio.precio_uf %>
  </p>

</div>
