<div id="<%= dom_id tipo_socio %>">
  <p>
    <strong>Tipo:</strong>
    <%= tipo_socio.tipo %>
  </p>

  <p>
    <strong>Tipo colaborador:</strong>
    <%= tipo_socio.tipo_colaborador %>
  </p>

</div>
