<h1>Editing tipo socio</h1>

<%= render "form", tipo_socio: @tipo_socio %>

<br>

<div>
  <%= link_to "Show this tipo socio", @tipo_socio %> |
  <%= link_to "Back to tipo socios", tipos_socios_path %>
</div>
